<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>grid</title>
</head>

<body>
    <script type="text/x-template" id="grid-template">
        <table v-if="filteredData.length">
            <thead>
                <tr>
                    <th
                        @click="sortBy(key)"
                        v-for="key in columns"
                        :class="{ active: sortKey == key }">
                        {{key | capitalize}}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredData">
                    <td v-for="key in columns">
                        {{entry[key]}}
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-else>No matches found.</p>
    </script>

    <div id="demo">
        <form id="form">
            <span>Search</span> <input type="text" v-model="searchQuery">
        </form>
        <demo-grid :columns="gridColumns" :data="gridData" :filter-key="searchQuery"></demo-grid>
    </div>
    <script src="./app.js"></script>
</body>

</html>