<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>firebase</title>
</head>

<body>
    <div id="demo">
        <form id="form" v-on:submit.prevent="addUser">
            <input type="text" placeholder="Add Name" v-model="newUser.name">
            <input type="text" placeholder="Add Email" v-model="newUser.email">
            <button type="submit">Add User</button>
        </form>
        <ul class="errors">
            <li v-show="!validation.name">Name cannot be empty.</li>
            <li  v-show="!validation.email">Please provide a valid email address.</li>
        </ul>
    </div>
    <script src="./app.js"></script>
</body>

</html>